/* import google fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tinos&display=swap');

/* Remove default browser padding */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-sarif;
    background-color: #f5f5f5;
    color: #2d302e
}

/* headers and logos */

h1,
h2 {
    font-family: Tinos, sarif;
}

#hero-outer {
    height: 37.5rem;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {

    background: url('../images/hero-image.webp') no-repeat center center;
    height: 100%;
    width: 100%;
}

#club-name {
    top: 1.875rem;
    left: 3.125rem;
    width: 21.875rem;
    position: absolute;
}

#club-name img {
    width: 100%;
}

/* navigation */

#navigation {
    width: 100%;
}

#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navigation li {

    float: left;
    width: 25%;
}

#navigation a {
    display: block;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    width: 100%;
    font-size: 150%;
    padding: .625rem 0;
    background-color: #990000;
}

#navigation a:hover {
    background-color: #000;
}

#navigation a.active {
    text-decoration: underline;
}

/* footer */

footer {
    background-color: #990000;
    color: #f5f5f5;
    width: 100%;
    padding: .625rem 0;
    clear: both;
}

#social-networks {
    text-align: center;
    font-size: 120%;
}

#social-networks a {
    text-decoration: underline;
    color: #f5f5f5;
}

#footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: right;
}

#footer-links li {
    display: inline-block;
    color: #f5f5f5;
    margin-right: 1rem;
}

#footer-links a {
    text-decoration: underline;
    color: #f5f5f5;
}

/* why play */

.why-play {
    height: 100%;
    clear: both;
    width: 100%;
}

.why-play-header {
    font-size: 200%;
    padding-top: 1rem;
    text-align: center;
}

.left-why {
    padding-top: 2rem;
    width: 33%;
    float: left;
}

.left-why-content {
    clear: both;
    width: 80%;
    float: right;
    padding-bottom: 2rem;
}

.right-why {
    padding-top: 2rem;
    width: 33%;
    float: right;
}

.right-why-content {
    clear: both;
    width: 80%;
    float: left;
    padding-bottom: 2rem;
}

hr {
    border-top: 1px solid;
    width: 100%;
    margin: 5px 0;
}

.center-why {
    margin: 0 auto;
}

.center-why-container {
    width: 20rem;
    height: 20rem;
    padding: 2rem;
    margin: auto;
}


#center-why-play-image {
    background: url('../images/rackets.webp') no-repeat center center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}

#center-why-flukey-image {
    background: url('../images/why-flukey-feathers.webp') no-repeat center center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}

/* Club sessions */

.sessions-section {
    height: 100%;
    width: 100%;
    clear: both;
}

.sessions-header {
    font-size: 200%;
    text-align: center;
    padding-top: 1rem;
}

#map {
    margin-top: 1rem;
    width: 100%;
    height: 20rem;
}

#times {
    background: url('../images/when-do-we-play.webp') no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin-top: 1rem;
    padding: 0 20% 0 20%;
}

#times>div {
    margin: 0 auto;
    width: 33.3%;
    height: 20rem;
    background-color: rgba(153, 0, 0, .9);
    box-sizing: border-box;
    float: left;
    color: #f5f5f5;
    padding: 2rem 1rem 1rem;
    font-size: 120%;
}

.sessions-title {
    margin-bottom: 1rem;
    font-size: 150%;
}

.border-left {
    border-left: 2px #f5f5f5 solid;
}

.border-right {
    border-right: 2px #f5f5f5 solid;
}

.border-central {
    border-right: 2px #f5f5f5 solid;
    border-left: 2px #f5f5f5 solid;
}

/* join us */

.join-us {
    clear: both;
    background: url('../images/when-do-we-play.webp') no-repeat center center;
    background-size: cover;
    padding: 1rem;
}


form {
    max-width: 48rem;
    margin: 0 auto;
    background-color: rgba(153, 0, 0, .9);
    background-size: 100%;
    padding: 1rem;
    border: 2px solid #f5f5f5;
    border-radius: 5px;
    color: #f5f5f5;
}

form>h1 {
    font-size: 160%;
    text-align: center;
}

form>hr {
    border-top: 2px solid #f5f5f5;
    margin-top: 1rem;
}

legend {
    font-size: 110%;
    font-weight: 700;
    padding-top: 1rem;
    text-transform: uppercase;
}


input[type=text],
input[type=email],
input[type=tel] {
    width: 100%;
    border: 2px solid #2d302e;
    height: 2rem;
    box-sizing: border-box;
    padding-left: 0.5rem;
    background-color: #f5f5f5;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus {
    background-color: #c0c0c0;
}

.input {
    margin-top: 0.5rem;
}


label {
    margin-bottom: 5px;
    margin: .5rem 1rem 0 0;
    line-height: 1.5rem;
}

form p {
    margin-top: .5em;
}

.join-today {
    background-color: #2d302e;
    color: #f5f5f5;
    padding: 5px;
    border: 2px solid #f5f5f5;
    border-radius: 5px;
    width: 100%;
    line-height: 1.5rem;
    font-weight: 700;
    font-size: 120%;
    margin-top: 1rem;
}

.join-today:hover {
    background-color: #f5f5f5;
    color: #2d302e
}

.reset {
    background-color: #c0c0c0;
    color: #2d302e;
    padding: 5px;
    border: 2px solid #f5f5f5;
    border-radius: 5px;
    width: 100%;
    line-height: 1.5rem;
    font-weight: 700;
    font-size: 120%;
    margin-top: 1rem;
}

.reset:hover {
    background-color: #f5f5f5;
}

.radio {
    display: inline;
}

input[type=radio], input[type=checkbox] {
    margin-top: 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
}

.radio label, .checkbox label {
    position:relative;
    bottom: .35rem;
}

.form-footer {
    font-size: 80%;
}



/* Gallery */

#gallery {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#gallery>img {
    width: 100%;
}

/* media queries */

/* laptop size */

@media screen and (max-width: 992px) {
    .left-why {
        width: 45%;
    }

    .left-why-content {
        width: 90%;
    }

    .right-why {
        width: 45%;
    }

    .right-why-content {
        width: 90%;
    }

    .center-why {
        clear: both;
    }

    #footer-links {
        text-align: center;
    }

    #times {
        padding: 0 10% 0 10%;

    }
}



/* tablets */

@media screen and (max-width: 768px) {
    body {
        font-size: 15px;
    }

    #times {
        padding: 0;
    }

    .border-left,
    .border-right {
        border: 0;
    }

    #gallery {
        column-count: 3;
    }
}

/* Mobiles */

@media screen and (max-width: 600px) {

    #hero-outer {
        height: 20em;
    }

    #hero-image {

        background: url('../images/hero-image-mobile.webp') no-repeat center center;
    }

    #club-name {
        top: 5%;
        left: 5%;
        width: 50%;
        position: absolute;
    }

    #navigation li {

        display: block;
        width: 100%;

    }

    .why-play-header {
        padding-bottom: 1em;
    }

    .left-why,
    .right-why {
        width: 90%;
        padding: 0;
    }

    #times>div {
        display: block;
        width: 100%;
        height: 100%;
    }

    .border-central {
        border: 0;
        border-top: 2px solid #f5f5f5;
        border-bottom: 2px solid #f5f5f5;

    }

    #gallery {
        column-count: 2;
    }

    .radio {
        display: block;
    }

    



}

/* to readjust image size for smaller screens */

@media screen and (max-width: 400px) {

    .center-why-container {
        max-width: 15rem;
        max-height: 15rem;
    }

    #gallery {
        column-count: 1;
    }

    
}